html {
    background-color: rgb(25,25,35);;
    color: white;
    font-size: 15px;
}
header {
    width: fit-content;
}
.view {
    border: solid white 1px;
    position: absolute;
    top: 5%;
    left: 25%;
}
.options {
    border: solid darkgray 3px;
    background-color: rgb(55,75,100);
    width:23%;

}
.content {
    margin: 4px;
}
.equation {
    font-family: 'Andale Mono';
    margin: 20px;
}
